h1 {
    color: blue;
    text-align: center;
    background-color: rgb(177, 182, 185);
    font-family: cursive;
}

ul {
    list-style-type:    none;
    border: 1px solid  grey ;
    margin:20px;
    display:block;
    width :60px;
}


li a:hover {
    background-color: grey;
}
.content {
    width : 800px;
    height:550px;
    float: left;
}